body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.display {
    display: flex;
    flex-wrap: wrap;
    height: 306px;
    width: 306px;
    background-color: lightgray;
}

.boardField {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: gray;
    border: 1px solid black;
    font-size: 80px;
}
.resetButton {
    margin-top: 20px;
}